@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<section>
    <div> <h2 class="card bg-gradient-info" style="margin: auto; text-align: center; border: 1px solid #ddd; border-radius: 4px; padding: 3px; width: 600px;">Yeni Kategori Ekleme Sayfası</h2></div>
    <br />



    @using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Kategori Adı:")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)

            <br />

            @Html.Label("Açıklama Giriniz :")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br /> 


            <button class="btn btn-success">Kaydet</button>

        </div>

    }
</section>