@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<section>


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title" style="float: none !important; text-align: center; ">Yeni Kategori Ekleme Sayfası</h3>
        </div>




        @using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
        {
            <div class="form-group" style="padding: 50px;">
                @Html.Label("Kategori Adı:")
                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryName)

                <br />

                @Html.Label("Açıklama Giriniz :")
                @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryDescription)
                <br />


              
                <button class="btn bg-gradient-info" type="button" style="margin: 0 auto;display: block; ">
                    <i class="fas fa-save"></i> Kaydet
                </button>


            </div>

          
        }
    </div>
</section>