@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section>
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title" style="float: none !important; text-align: center;">Kategori Güncelleme Sayfası</h3>
        </div>



        @using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post))
        {
            <div class="form-group" style="padding: 50px;">
                @Html.Label("Kategori Id:")
                @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryId)

                <br /> <br />
                @Html.Label("Kategory Adı Giriniz :")
                @Html.TextAreaFor(x => x.CategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryName)
                <br />

                @Html.Label("Açıklama Giriniz :")
                @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryDescription)
                <br />


                <button class="btn btn-success" style="margin-left: 450px;"><i class="fas fa-save"></i> Güncelle</button>

            </div>

        }
    </div>
</section>

