@model EntityLayer.Concrete.Writer


@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<section>


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title" style="float: none !important; text-align: center; ">Yeni Yazar Ekleme Sayfası</h3>
        </div>




        @using (Html.BeginForm("AddWriter", "Writers", FormMethod.Post))
        {
            <div class="form-group" style="padding: 50px;">
                @Html.Label("Yazar Adı:")
                @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterName)

                <br />

                @Html.Label("Yazarın Soyadını Giriniz :")
                @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterSurName)
                <br />
                
                @Html.Label("Yazarın Fotoğraf URL'sini Giriniz :")
                @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
             
                <br />
                
                
                @Html.Label("Yazarın Mail Adresini Giriniz :")
                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                
                <br />
                
                @Html.Label("Yazarın Şifresini Giriniz :")
                @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
       
                <br />
                
                @Html.Label("Yazar Hakkında Bilgi Giriniz :")
                @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
               
                <br />
                
                @Html.Label("Yazarın Unvanı Giriniz :")
                @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterTitle)
                <br />
                
                
                @Html.Label("Yazarın Cinsiyetini Bilgi Giriniz(E - K Şeklinde :")
                @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
               
                <br />
                
                @Html.Label("Yazarın Kimlik Durumunu Giriniz(True - False :")
                @Html.TextBoxFor(x => x.WriterStatus, new { @class = "form-control" })
               
                <br />
                

              
                <button class="btn bg-gradient-info" type="submit" style="margin: 0 auto;display: block; ">
                    <i class="fas fa-save"></i> Yazarı Ekle
                </button>


            </div>

          
        }
    </div>
</section>