@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title" style="float: none !important; text-align: center; ">Başlık Düzenleme Sayfası</h3>
    </div>



    @using (Html.BeginForm("EditHeading", "Headings", FormMethod.Post))
    {

<div class="form-group" style="padding: 50px;">

    @Html.Label("Başlık ID :")
    @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingId, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Başlık Adı :")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Başlık Tarihi :")
    @Html.TextBoxFor(x => x.HeadingDate, "", new { @class = "form-control" })

    <br />

    @Html.Label("Yazar Adı :")
    @Html.TextBoxFor(x => x.WriterId , "", new { @class = "form-control" })

    <br />
    @Html.Label("Kategori Adı :")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })

    <br />




    <button class="btn btn-success" style="margin-left: 450px;">Değişiklikleri Kaydet</button>

</div>
    }

</div>



