@model EntityLayer.Concrete.Heading


@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section>
    <div> <h2 class="card bg-gradient-info" style="margin: auto; text-align: center; border: 1px solid #ddd; border-radius: 4px; padding: 3px; width: 600px;">Yeni Başlık Ekleme Sayfası</h2></div>
    <br />



    @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Başlık Adı:")
            @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.HeadingName)

            <br />

            @Html.Label("Tarih Giriniz :")
            @Html.TextAreaFor(x => x.HeadingDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.HeadingDate)
            <br />


            <button class="btn btn-success">Kaydet</button>

        </div>

    }
</section>