@using EntityLayer.Concrete
@model List<Message>



@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
    


    @section css{
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
    }

@{ string message = "";}
@{string newmessage = "";}
@{ string color = "";}
@{ string read = "";}

<style>
   
</style>

<body class="hold-transition sidebar-mini">
<!-- Main content -->
   
<div class="row">
    <div class="col-md-3">
        @Html.Action("MessageListMenu", "WriterPanelMessage")
        <!-- /.card -->
        
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Gelen Mesajlar( @ViewBag.inboxMessageResult )</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Maillerde ara">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i><a style="font-family: inherit; margin-left: 2px;">Hepsini seç</a>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-reply"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-share"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.float-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>@foreach(var item in Model){

                                   if (item.IsReadStatus == false)
                                   {
                                       message = "Okundu Olarak İşaretle";
                                      
                                       newmessage = "callout callout-danger";
                                       read = "far fa-envelope-open";
                                   }
                                   if (item.IsReadStatus == true)
                                   {
                                       message = "Okunmadı Olarak İşaretle";
                                       newmessage = "quote-secondary";
                                       read = "far fa-envelope";

                                   }
                                   if (item.IsReadStatus == false)
                                   {
                                       color = "btn btn-block btn-outline-danger btn-sm";
                                   }
                                   if (item.IsReadStatus == true)
                                   {
                                       color = "btn btn-block btn-outline-danger btn-sm";
                                   }

                                  
                                   <tr class="@newmessage" >
                                       <td >
                                           <div class="icheck-primary">
                                               <input type="checkbox" value="checkbox" id="item@(item.MessageID)">
                                               <label for="item@(item.MessageID)"></label>
                                           </div>
                                       </td>
                                       <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                       <td class="mailbox-name"><a href="/WriterPanelMessage/GetMessageDetails/@item.MessageID">@item.SenderMail</a></td>
                                       <td class="mailbox-subject"><b>@item.Subject.Substring(0,4) </b> - @item.MessageContent.Substring(0,4) ...
                                       </td>
                                       <td class="mailbox-attachment"></td>
                                       <td class="mailbox-date">@item.MessageDate.ToString("dd-MMM-yyyy")</td>
                                       <td>
                                           <a class="btn btn-block btn-outline-secondary btn-sm" style="width:60%;" href="/WriterPanelMessage/IsRead/@item.MessageID">
                                               <i class="@read"></i>


                                               @message
                                           </a>
                                       </td>
                                   </tr>
                               }
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="far fa-square"></i><a style="font-family: inherit; margin-left: 2px;">Hepsini seç</a>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-reply"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-share"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="float-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.float-right -->
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
  
<!-- /.content -->



<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

</body>

@section script
{
    <!-- jQuery -->
    <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLTE/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            //Handle starring for font awesome
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                //detect type
                var $this = $(this).find('a > i')
                var fa    = $this.hasClass('fa')

                //Switch states
                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })
    </script>}
